@mixin mediaQuery() {
    @media (max-width: 768px) {
        @content;
    }
}

.custom-button {
    width: 150px;
    height: 60px;
    color: white;
    background-color: black;
    border: none;
    font-weight: bold;
    cursor: pointer;
    //margin: 0 auto;
    @include mediaQuery() {
        width: 120px;
        height: 40px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    

    &:hover{
        border: 1px solid black;
        background-color: white;
        color: black;
    }

    &.sign-up{
        background-color: rgb(99, 238, 44);
        color: red;
        width: 100px;

        &:hover{
            background-color: tomato;
            color: yellow;
        }
    }

    &.sign-in{
        background-color: lightseagreen;
        color: white;
        width: 100px;

        &:hover{
            background-color: green;
            color: yellow;
        }
    }

    &.google-sign-in-btn{
        background-color: yellow;
        color: black;
        width: 200px;

        &:hover{
            background-color: black;
            color: yellow;
        }
    }
}