* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    width: 100%;
    min-height: 80vh;
    padding: 15px 0;
    background-color: lightblue;
}

a{
    color: black;

    &:hover{
        text-decoration: none;
    }
}

.load{
    width: 20%;
    margin: 30vh auto;
    color: red;
    font-size: 2.5rem;
    font-weight: 900;
    @media screen {
        font-size: 1.3rem;
        font-weight: 400;
    }
}
